name: build-push

on:
  push:
    branches:
    - "*"  # run for branches
    tags:
    - "*"  # run for tags
  pull_request:
    branches:
    - "*"  # run for branches
    tags:
    - "*"  # run for tags

jobs:
  test-build:
    # if: ${{ false }}  # disable for now
    runs-on: ubuntu-latest
    env:
      GROUP: uoyak 
      COMMIT: ${{ github.sha }}
      REPO: dtst-sockshop-front-end
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-node@v1
      with:
        node-version: '4.x'

    - run: npm install

    - name: Test image
      env:
        DOCKER_BUILDKIT: 1
      run: make test

    - name: Build docker image
      uses: docker/build-push-action@v1
      with:
        push: false
        repository: ${{ env.GROUP }}/${{ env.REPO }}
        tag_with_ref: true
        tag_with_sha: true
        tags: ${{ github.sha }}

    - name: Test docker image
      env:
        DOCKER_BUILDKIT: 1
      run: ./test/container.sh

    - name: Push to Docker Hub
      uses: docker/build-push-action@v1
      if: startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/master'
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASS }}
        repository: ${{ env.GROUP }}/${{ env.REPO }}
        tag_with_ref: true
        tag_with_sha: true
        cache-from: type=gha
        cache-to: type=gha,mode=max